*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #2f3542;
}

.loader{
    padding: 20px;
    /* border: 2px #123 solid; */
}

.load{
    width: 120px;
    height: 120px;
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;
    color: #bcd339;
}

.load::before,
.load::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px rgb(58, 175, 146) solid;
    z-index: -1;
}

.load::after{
    transform: rotate(45deg);
    background-color: #6739d3;
    animation: rotateing 6s ease-in-out infinite;
}

.load::before{
    animation: androtateing 6s ease-in-out infinite;
    background-color: #dfb646;
}

@keyframes rotateing {
    0%{
        transform: rotate(0);
    }

    12.5%{
        transform: rotate(-90deg);
    }

    25%{
        transform: rotate(-180deg);
    }

    37.5%{
        transform: rotate(-270deg);
    }

    50%{
        transform: rotate(-360deg);
    }

    62.5%{
        transform: rotate(-270deg);
    }

    75%{
        transform: rotate(-180deg);
    }

    87.5%{
        transform: rotate(-90deg);
    }

    100%{
        transform: rotate(0);
    }
}

@keyframes androtateing {
    0%{
        transform: rotate(-45deg);
    }

    12.5%{
        transform: rotate(45deg);
    }

    25%{
        transform: rotate(135deg);
    }

    37.5%{
        transform: rotate(225deg);
    }

    50%{
        transform: rotate(315deg);
    }

    62.5%{
        transform: rotate(225deg);
    }

    75%{
        transform: rotate(135deg);
    }

    87.5%{
        transform: rotate(45deg);
    }

    100%{
        transform: rotate(-45deg);
    }
}